@model RNDApplications.Models.New_Models.PurchaseMaster

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
   @Html.Display( Model.Contact)
    <input type="submit" value="submit" />
}
